*
*/node_modules
*/node_modules/*

!Dockerfile
!render.yaml
!.env.example
!README.md

!app/public/wp-content/plugins/thetruth-settings
!app/public/wp-content/plugins/thetruth-settings/**
!app/public/wp-content/themes/twentytwentyfive
!app/public/wp-content/themes/twentytwentyfive/**
